*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.container{
    display: flex;
    align-items: flex-start;
    border: .3rem solid black;
    height: 50vh;
}

.box{
    width: 10rem;
    height: 10rem
}

.box1{
    background-color: blanchedalmond;
    flex-grow: 1;
}
.box2{
    background-color: blueviolet;
    flex-grow: 1;
}
.box3{
    background-color: lightcoral;
}
.box4{
    background-color: bisque;
}
.box5{
    background-color: rosybrown;
}
.box6{
    background-color: mediumseagreen;
}
