.main-nav{
    margin-top: 10px;
    list-style: none;
    padding: 0em;
    background-color: darkorange;
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a{
    color: cornsilk;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}


/* Pseudo clases */

.main-nav__item a:hover{
    color: darkgreen;
}

/* pseudo elementos */
.main-nav__item a::after{
    content: " | ";
}