/* medida absoluta en pixeles */
/* eliminar el main del selector para observer el cambio */
main p{
    font-size: 18px;
}

/* medida relativa en porcentaje */
p{
    font-size: 50%;
}

/* combinacion de medidas */
main{
    background-color: orchid;
    width: 80%;
    height: 600px;
}