*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* 
html{
    font-size: 62.5%;
} */

main{
    width: 100vw;
    height: 100vh;
    background-color: lawngreen;
}

section{
    width: 80%;
    min-width: 320px;
    max-width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: rebeccapurple;
}